<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>狂った仮想世界からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/スクリーンショット 2021-09-10 21.08.40.png" alt="千葉キャンパスチーム５"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/スクリーンショット 2021-09-10 23.17.10.png" alt="狂った仮想世界からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>おかしなRPG世界</h2>
            <p class="text-center">一番最初にリストアップされた世界は有名なゲームのRPGの世界だった。<br>
              定番な勇者が出てくる作品だが、、自分が知っている勇者ではないようだ。<br>
             まぁ、なんとも胡散臭く金髪でカタコトな日本語で話していた外人さんだろうか。<br>
              どうやらこの人がメールに書いてあった主犯の仲間らしい。<br>
              話しかけると待っていたぞと反応をしとある問題を渡してきた。<br>
              渡された謎を解き、偽勇者に回答を報告しよう。</p>
            <p class="text-center">困ったときは、相棒に聞いてみよう。</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/スクリーンショット 2021-09-14 14.41.09.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>「回答をどうぞ」</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">相棒に相談してみる？ ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  「正解です」</div>
              <div class="clear-message__content">偽物の勇者が消えこの世界が元に戻った！<br>
                それと同時に鍵を渡された<br>
                謎をとき、この世界を救おう！</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

        <!-- STAGE2　ここから -->
      <div v-if="next['stage1']" id="#sectionStage2" class="stage">

        <!-- STAGE2問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>夜の教室</h2>
            <p class="text-center">二番にリストアップされた世界は夜の教室だった。<br>
             ここは小学校の教室らしい、後ろの壁に飾ってある作品の絵がこっちを見ているように見える。<br>
              、、誰かの忘れ物だろうか、一つの机に女の可愛い人形が置いてある。恐る恐るその場に行くと人形が「こんばんわ」と喋り出した。<br>
              驚いて後ろに尻餅をつくと「ようやくきたのね、これあげる」とまた問題らしい物を渡してきた。<br>
              どうやら今回はこの人形がメールに書いてあった主犯の仲間らしい。<br>
              早く問題を解いてこの世界から早く出よう、、。<br>
              渡された謎を解き、人形に回答を報告しよう。</p>
            <p class="text-center">困ったときは、相棒に聞こう。</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/スクリーンショット 2021-09-14 8.29.08.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE2問題セクション　ここまで -->

        <!-- STAGE2解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>「、、回答は？」</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage２']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>

            <a class="link-hint" href="hint2.html" target="hint2">相棒に相談してみる？ ></a>
          </div>
        </section>
        <!-- STAGE2解答入力セクション　ここまで -->

        <!-- STAGE2クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2  「あら、おめでとう」</div>
              <div class="clear-message__content"> 後から物音がして少し振り返ってまた人形がいた位置を見ると人形はいなくなっていて鍵だけが置いてあった。<br>
              
                急いで次の世界へ行こう！</div>
              <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->

      </div>
      <!-- STAGE2　ここまで -->

      
      
      
      
      <!-- STAGE3　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>部活の時間</h2>
              <p class="text-center">最後の世界は学校の体育館<br>
               ボールが落ちていてバレーやバスケットボールなどの部活をしているらしい。<br>
                有名なスポーツ漫画の世界らしい。違いはすぐにわかった。主人公の相棒な立場のキャラクターが違う。<br>
                すぐに目に入ったのであちらも正体がバレたことに気づいているだろう。<br>
                反応は思ったより早かった「もうバレちゃった〜」と軽くいうと「もうわかってると思うから」と言って問題を渡してきた。<br>
                リストアップされた世界はこれで最後これが終わればきっと何か変わるはず！問題に挑もう！</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE3-1　ここから -->
                <div class="column">
                  <!-- STAGE3-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/スクリーンショット 2021-09-14 8.36.18.png" alt="">
                  </figure>
                  <!-- STAGE3-1問題セクション　ここまで -->
                  <!-- STAGE3-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
                  <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
                  <!-- STAGE3-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE3-1　ここまで -->

                
           　　　
                
<!-- STAGE3-2 を追加

               
 <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

3-2追加ここまで -->
                  
<!-- STAGE3-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

3-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE3クリア画面　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：3　「これ解けちゃうのか〜」</div>
              <div class="clear-message__content">「これ大事にしなよ？」とまた鍵を渡された<br>
                これで全ての場所の謎を解いた、ホームに戻ってみよう！</div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->

      <!-- STAGE4　ここから -->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">

        <!-- STAGE4-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：4</span>待ち受けた最後とは</h2>
            <p class="text-center"> 最初に戻ってきた世界は未だバグが残っていた。<br>
              どうやら、廃棄にかかる費用がかかりすぎて小学校の運営が厳しくなったようだ。。<br>
              これらを解決するための最後の謎を解いていこう！</p>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：4</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE4-1解答入力セクション　ここまで -->

<!-- STAGE4-2問題セクション を追加

          <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <answer-input v-bind:correct="correctAnswer['stage3']['q2']" v-on:answer-input="answerInput($event, 'stage3', 2, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
      　　
STAGE3-2追加ここまで -->

          
<!-- STAGE4-3問題セクション　を追加
        <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：4</span>キーワードを入力</h2>

            <answer-input v-bind:correct="correctAnswer['stage3']['q3']" v-on:answer-input="answerInput($event, 'stage3', 3, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>

STAGE4-3追加　ここまで -->

          
      </div>
      <!-- STAGE4　ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
